:host {
  display: block;
  min-height: 100vh;
  background-image: url('/assets/parrot-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  /* Optional overlay if you want to darken / tint the background a bit */
  position: relative;
  z-index: 0;
}

:host::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* dark overlay with 0.3 opacity */
  z-index: -1;
}
 