
.card-img-top {
  width: 100%;       
  height: 200px;      
  object-fit: cover;  
}

@media (max-width: 768px) {
  .card-img-top {
    height: 150px;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
}
